@import './constants.scss';

footer {
    border-top: $border_top;
    .left, .right {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 960px) {


}

@media screen and (max-width: 800px) {
    footer {
        .left, .right {
            width: 100%;
            float: none;
        }
    }
}